###
 # @Github: https://github.com/Certseeds/CS205_C_CPP
 # @Organization: SUSTech
 # @Author: nanoseeds
 # @Date: 2020-02-18 11:10:37
 # @LastEditors: nanoseeds
 # @LastEditTime: 2021-01-05 18:30:45
###
*            text=auto
*.cpp text=auto linguist-vendored
*.hpp text=auto linguist-vendored